* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-clr: white;
  --black-clr: black;
  --primary: 204 98% 38%;
  --primary-clr: #0274c0;
  --secondary: 224 52% 15%;
  --neon-blue: #00aeff;
  --muted: #1c1c1c;
  --grey-text-clr: hsl(0 0% 40%);
  --dark-primary-gradient: linear-gradient(180deg, rgba(2, 116, 192, 0), #0274c0), linear-gradient(0deg, rgba(2, 116, 192, 0.2), rgba(2, 116, 192, 0.2)), linear-gradient(0deg, #050505, #050505), linear-gradient(0deg, rgba(241, 241, 241, 0.5), rgba(241, 241, 241, 0.5));
  --primary-gradient: linear-gradient(0deg, hsl(var(--primary)), hsl(var(--primary))), linear-gradient(270deg, rgba(2, 116, 192, 0) 0%, hsl(var(--primary)) 100%);
}

@font-face {
  font-family: "manrope";
  src: url("../../assets/Manrope/static/Manrope-Regular.ttf");
}
@font-face {
  font-family: "manrope-light";
  src: url("../../assets/Manrope/static/Manrope-Light.ttf");
}
body {
  background-color: var(--black-clr);
}

.container {
  width: 100%;
  height: 80vh;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%), linear-gradient(0deg, #0274C0, #0274C0);
  font-family: "manrope", sans-serif;
  overflow: hidden;
}
.container img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 60%;
}
.container .center-text {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white-clr);
  text-align: center;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.container .center-text h1 {
  font-size: 4rem;
  line-height: 1.2;
}
.container .center-text p {
  font-size: 1.2rem;
  width: 45rem;
  font-weight: 100;
}
.container .center-text .button-div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.container .center-text .button-div button:nth-of-type(1) {
  font-size: 1rem;
  width: 15rem;
  height: 3rem;
  color: var(--primary-clr);
  background-color: var(--white-clr);
  border-radius: 9999px;
  border: 1px solid var(--white-clr);
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}
.container .center-text .button-div button:nth-of-type(1):hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-clr);
}
.container .center-text .button-div button:nth-of-type(2) {
  font-size: 1rem;
  width: 15rem;
  height: 3rem;
  color: var(--white-clr);
  background-color: transparent;
  border-radius: 9999px;
  border: 1px solid var(--white-clr);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.container .center-text .button-div button:nth-of-type(2):hover {
  background-color: rgba(255, 255, 255, 0.1);
}
@media (max-width: 900px) {
  .container {
    height: 100vh;
  }
  .container .center-text h1 {
    font-size: 2.5rem;
  }
  .container .center-text p {
    width: 100%;
    font-size: 1rem;
    padding-inline: 1rem;
  }
  .container .center-text button {
    width: 90%;
  }
  .container .center-text .button-div {
    width: 100%;
    flex-direction: column;
  }
  .container .center-text .button-div button:nth-of-type(1),
  .container .center-text .button-div button:nth-of-type(2) {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .container .center-text h1 {
    font-size: 2.5rem;
  }
  .container .center-text p {
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.5;
  }
}

.schedule_button_div {
  background-color: var(--primary-clr);
  color: var(--white-clr);
  width: 100%;
  height: 20vh;
  padding-block: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}
.schedule_button_div span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  font-size: 2rem;
  font-family: "manrope", sans-serif;
}
.schedule_button_div button {
  color: var(--primary-clr);
  background-color: var(--white-clr);
  border-radius: 9999px;
  font-size: 1.5rem;
  padding: 1rem 1.8rem;
  border: none;
}
@media (max-width: 900px) {
  .schedule_button_div {
    height: 30vh;
    flex-direction: column;
    gap: 1rem;
    padding-inline: 4rem;
  }
  .schedule_button_div span {
    text-wrap: balance;
    font-size: 2rem;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  .schedule_button_div button {
    width: 100%;
  }
}

nav {
  width: calc(100% - 160px);
  position: absolute;
  z-index: 3;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav a {
  width: 7%;
}
nav div {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 7rem;
}
nav div ul {
  font-family: "manrope", sans-serif;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
nav div ul li a {
  text-decoration: none;
  font-size: 0.999rem;
  color: var(--white-clr);
}
nav div ul li .bold {
  font-weight: 900;
  text-decoration: underline;
  text-underline-offset: 8px;
}
nav div span {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--primary-clr);
  color: var(--white-clr);
  padding-block: 0.6rem;
  padding-inline: 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
nav div span:hover {
  background-color: rgba(2, 116, 192, 0.8823529412);
}
nav .nav-icon {
  display: none;
  cursor: pointer;
}
@media (max-width: 900px) {
  nav {
    width: 90%;
  }
  nav img {
    width: 100px;
  }
  nav > div {
    display: none;
  }
  nav .nav-icon {
    display: block;
  }
}

.small-screen-navbar {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  background-color: black;
  outline: 1px solid var(--white-clr);
  color: var(--white-clr);
  width: 50%;
  height: 100dvh;
  top: 0;
  right: 0;
  transform: none;
}
.small-screen-navbar header {
  padding-block: 1rem;
  padding-inline: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.small-screen-navbar header img {
  width: 100px;
}
.small-screen-navbar header .fa-xmark {
  font-size: 20px;
  cursor: pointer;
}
.small-screen-navbar ul {
  font-family: "manrope", sans-serif;
  margin-top: 2rem;
  margin-left: 1rem;
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.2rem;
}
.small-screen-navbar ul li a {
  text-decoration: none;
  color: var(--white-clr);
  font-size: 1.2rem;
}
@media (max-width: 900px) {
  .small-screen-navbar {
    display: none;
  }
}

.roof-benefits-section {
  font-family: "manrope", sans-serif;
  background-color: var(--black-clr);
  padding: 1rem 3rem 4rem 3rem;
}
.roof-benefits-section .heading {
  padding-block: 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}
.roof-benefits-section .heading p:nth-of-type(1) {
  color: var(--primary-clr);
}
.roof-benefits-section .heading h1 {
  color: var(--white-clr);
  font-size: 5ch;
}
.roof-benefits-section .heading p:nth-of-type(2) {
  color: var(--grey-text-clr);
  font-size: 2.2ch;
}
.roof-benefits-section .grid-card-container {
  color: var(--white-clr);
  margin-inline: 5rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.roof-benefits-section .grid-card-container .card {
  background-color: var(--muted);
  border-radius: 10px;
  padding: 30px;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.roof-benefits-section .grid-card-container .card .head {
  margin-bottom: 0.4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.roof-benefits-section .grid-card-container .card .head img {
  font-size: 1rem;
  font-style: italic;
  object-fit: cover;
  display: block;
}
.roof-benefits-section .grid-card-container .card p {
  font-size: 2ch;
  font-weight: 400;
  color: #E2DFD2;
}
.roof-benefits-section .grid-card-container .card:hover {
  background: linear-gradient(360deg, var(--primary-clr), var(--muted));
  box-shadow: 0 0 5px var(--neon-blue), 0 0 10px var(--neon-blue), 0 0 15px var(--neon-blue);
}
.roof-benefits-section .bullets {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.roof-benefits-section .bullets span {
  background-color: var(--primary-clr);
  padding: 3px;
  border-radius: 50%;
}
.roof-benefits-section .bullets span:nth-of-type(2),
.roof-benefits-section .bullets span:nth-of-type(3),
.roof-benefits-section .bullets span:nth-of-type(4),
.roof-benefits-section .bullets span:nth-of-type(5),
.roof-benefits-section .bullets span:nth-of-type(6) {
  background-color: transparent;
  border: 1px solid var(--white-clr);
}
@media (max-width: 1000px) {
  .roof-benefits-section .grid-card-container {
    margin-inline: 1rem;
  }
  .roof-benefits-section .grid-card-container .card {
    padding-right: 0.5rem;
    text-wrap: balance;
  }
}
@media (max-width: 900px) {
  .roof-benefits-section .grid-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 700px) {
  .roof-benefits-section .heading {
    padding-inline: 2rem;
  }
  .roof-benefits-section .heading h1 {
    font-size: 2rem;
  }
  .roof-benefits-section .heading p:nth-of-type(2) {
    text-wrap: balance;
    font-size: 1.2rem;
  }
  .roof-benefits-section .grid-card-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .roof-benefits-section .grid-card-container .card:nth-of-type(1),
  .roof-benefits-section .grid-card-container .card:nth-of-type(3),
  .roof-benefits-section .grid-card-container .card:nth-of-type(4),
  .roof-benefits-section .grid-card-container .card:nth-of-type(5),
  .roof-benefits-section .grid-card-container .card:nth-of-type(6) {
    display: none;
  }
  .roof-benefits-section .grid-card-container .card {
    padding: 2rem 3rem 2rem 2rem;
  }
  .roof-benefits-section .grid-card-container .card .head {
    margin-bottom: 1.5rem;
  }
  .roof-benefits-section .grid-card-container .card p {
    font-size: 1.2rem;
    font-weight: 100;
    text-wrap: balance;
  }
  .roof-benefits-section .bullets {
    padding-block: 2rem;
    display: flex;
  }
}

.journey-section {
  height: 65vh;
  font-family: "manrope", sans-serif;
  padding: 2rem 7rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: var(--black-clr);
  color: #fff;
}
.journey-section .journey-content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
}
.journey-section .journey-content .text-content {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.journey-section .journey-content .text-content .highlight-text {
  color: #0274C0;
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.journey-section .journey-content .text-content h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
.journey-section .journey-content .text-content p:nth-of-type(1) {
  font-size: 1.1rem;
}
.journey-section .journey-content .text-content p {
  font-size: 2.4ch;
  line-height: 1.6;
  margin-bottom: 2rem;
  color: #a3a3a3;
  text-wrap: balance;
}
.journey-section .journey-content .text-content .btn-outline {
  padding: 0.75rem 1.5rem;
  border: 1px solid #0274C0;
  background: transparent;
  color: #0274C0;
  cursor: pointer;
  border-radius: 9999px;
  transition: 0.3s ease;
  margin-block: auto 0;
}
.journey-section .journey-content .text-content .btn-outline:hover {
  background-color: #0274C0;
  color: #000;
}
.journey-section .journey-content .image-content {
  height: 100%;
  flex: 1;
}
.journey-section .journey-content .image-content img {
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
  object-fit: cover;
}
@media (min-width: 1281px) {
  .journey-section {
    height: max-content;
  }
  .journey-section .journey-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .journey-section .journey-content .text-content {
    grid-column: 1/2;
  }
  .journey-section .journey-content .text-content h2 {
    font-size: 2rem;
  }
  .journey-section .journey-content .image-content {
    grid-column: 2/3;
  }
}
@media (max-width: 1280px) {
  .journey-section {
    height: max-content;
  }
  .journey-section .journey-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .journey-section .journey-content .text-content {
    grid-column: 1/2;
  }
  .journey-section .journey-content .text-content h2 {
    font-size: 2rem;
  }
  .journey-section .journey-content .image-content {
    grid-column: 2/3;
  }
}
@media (max-width: 900px) {
  .journey-section {
    padding: 2rem 1rem;
  }
  .journey-section .journey-content .text-content,
  .journey-section .journey-content .image-content {
    width: 100%;
  }
}
@media (max-width: 720px) {
  .journey-section .journey-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .journey-section .journey-content .text-content {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .journey-section .journey-content .image-content {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.estimate-section {
  border-radius: 16px;
  overflow: hidden;
  width: 85%;
  height: 20vh;
  font-family: "manrope", sans-serif;
  padding: 2rem 5rem;
  background: var(--primary-gradient);
  position: relative;
  margin: 5rem auto;
}
.estimate-section img {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}
.estimate-section .estimate-container {
  padding-inline: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  color: white;
  border-radius: 1rem;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.estimate-section .estimate-container .estimate-text {
  flex: 1;
}
.estimate-section .estimate-container .estimate-text h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.estimate-section .estimate-container .estimate-text p {
  font-size: 1.5rem;
  color: #e0e0e0;
}
.estimate-section .estimate-container .estimate-form {
  width: 40%;
  padding: 0.3em;
  background-color: var(--white-clr);
  border-radius: 9999px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 0.5rem;
}
.estimate-section .estimate-container .estimate-form input {
  padding: 0.75rem 1rem;
  border-radius: 999px;
  border: none;
  outline: none;
  width: 200px;
  font-size: 0.95rem;
}
.estimate-section .estimate-container .estimate-form button {
  padding: 0.75rem 1.5rem;
  border-radius: 999px;
  border: none;
  color: var(--white-clr);
  background-color: var(--primary-clr);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.estimate-section .estimate-container .estimate-form button:hover {
  background-color: #007bff;
  color: #fff;
}
@media (max-width: 1220px) {
  .estimate-section {
    height: 40vh;
    padding: 2rem 4rem;
  }
  .estimate-section .estimate-container {
    flex-direction: column;
    gap: 0rem;
    padding: 2rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .estimate-section .estimate-container .estimate-text {
    text-align: center;
  }
  .estimate-section .estimate-container .estimate-text h3 {
    font-size: 2rem;
  }
  .estimate-section .estimate-container .estimate-form {
    width: 50%;
  }
  .estimate-section .estimate-container .estimate-form input {
    flex: 1;
    width: 100%;
  }
  .estimate-section .estimate-container .estimate-form button {
    width: max-content;
  }
}
@media (max-width: 900px) {
  .estimate-section {
    margin: 2rem auto;
  }
  .estimate-section .estimate-container {
    align-items: flex-start;
  }
  .estimate-section .estimate-container .estimate-text {
    text-align: left;
  }
  .estimate-section .estimate-container .estimate-text h3 {
    font-size: 1.5rem;
  }
  .estimate-section .estimate-container .estimate-form {
    width: 100%;
  }
}
@media (max-width: 420px) {
  .estimate-section {
    height: 30vh;
  }
}

.services {
  font-family: "manrope", sans-serif;
  padding: 0rem 2rem;
  background-color: var(--black-clr);
  color: var(--white-clr);
  text-align: center;
}
.services .heading p:nth-of-type(1) {
  color: var(--primary-clr);
}
.services .heading h1 {
  font-size: 3rem;
}
.services .heading p:nth-of-type(2) {
  color: var(--grey-text-clr);
}
.services .cards-container {
  margin-top: 2rem;
}
.services .cards-container .card-small-container {
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.services .cards-container .card-small-container .card {
  border-radius: 20px;
  padding: 1rem;
  background-color: var(--muted);
}
.services .cards-container .card-small-container .card .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.services .cards-container .card-small-container .card .info .worker-credential {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: left;
  font-size: 10px;
}
.services .cards-container .card-small-container .card .info .worker-credential .image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.services .cards-container .card-small-container .card .info .worker-credential .image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.services .cards-container .card-small-container .card .info .worker-credential h4 {
  font-size: 14px;
}
.services .cards-container .card-small-container .card p {
  margin-top: 2rem;
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.5;
}
@media (max-width: 1200px) {
  .services .cards-container .card-small-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 700px) {
  .services .cards-container .card-small-container {
    padding: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .services .cards-container .card-small-container .card {
    padding-block: 2rem;
  }
  .services .cards-container .card-small-container .card .info {
    font-size: 2rem;
  }
  .services .cards-container .card-small-container .card p {
    font-size: 1rem;
  }
}
@media (max-width: 450px) {
  .services {
    padding: 0;
  }
  .services .heading p {
    margin-block: 1rem;
  }
  .services .heading h1 {
    font-size: 2rem;
  }
  .services .cards-container {
    padding: 0rem;
  }
  .services .cards-container .card-small-container {
    width: 100%;
    padding: 1rem;
  }
}

.achievment_section {
  font-family: "manrope-light", sans-serif;
  background-color: var(--black-clr);
  color: var(--white-clr);
  padding: 2rem 4rem 8rem 4rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}
.achievment_section .achievment_section-card {
  border: 1px solid #37444d;
  border-radius: 20px;
  padding: 1rem 1rem 1rem 1.2rem;
  background: linear-gradient(180deg, rgba(2, 116, 192, 0.2) 10%, #0274C0);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.achievment_section .achievment_section-card .head {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 1200px) {
  .achievment_section {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 920px) {
  .achievment_section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 800px) {
  .achievment_section {
    padding: 2rem 2rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}

footer {
  font-family: "manrope", sans-serif;
  background: var(--dark-primary-gradient);
  color: var(--white-clr);
  padding: 2rem 4rem 1rem 4rem;
  display: flex;
  flex-direction: column;
}
footer .container2 {
  border-bottom: 1px solid #050505;
  padding-bottom: 2rem;
  display: flex;
  align-items: flex-start;
}
footer .container2 .footer__left {
  flex: 2 2 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}
footer .container2 .footer__left p {
  font-family: "manrope-light", sans-serif;
  font-size: 14px;
}
footer .container2 .footer__left button {
  border: 1px solid white;
  border-radius: 9999px;
  color: var(--white-clr);
  background-color: transparent;
  padding: 0.8rem 2rem;
  font-size: 1rem;
}
footer .container2 .footer__center {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .container2 .footer__center .small_container .head {
  text-align: left;
}
footer .container2 .footer__center .small_container ul {
  margin-top: 3rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .container2 .footer__center .small_container ul li a {
  color: white;
  text-decoration: none;
}
footer .container2 .footer__right {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
}
footer .container2 .footer__right .small_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}
footer .container2 .footer__right .small_container .call,
footer .container2 .footer__right .small_container .email,
footer .container2 .footer__right .small_container .location {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
footer .container2 .footer__right .small_container .call .icon,
footer .container2 .footer__right .small_container .email .icon,
footer .container2 .footer__right .small_container .location .icon {
  flex: 10%;
  text-align: center;
}
footer .container2 .footer__right .small_container .call .info,
footer .container2 .footer__right .small_container .email .info,
footer .container2 .footer__right .small_container .location .info {
  flex: 90%;
  display: flex;
  flex-direction: column;
}
footer .container2 .footer__right .small_container .call .info .small_heading,
footer .container2 .footer__right .small_container .email .info .small_heading,
footer .container2 .footer__right .small_container .location .info .small_heading {
  font-size: 13px;
}
footer .text_container {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .text_container p:nth-of-type(2) {
  display: flex;
  gap: 3rem;
}
footer .text_container p:nth-of-type(2) a {
  text-decoration: none;
  color: var(--white-clr);
}

@media (max-width: 900px) {
  footer {
    padding: 1rem;
    gap: 2rem;
  }
  footer .container2 {
    padding: 2rem 0;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  footer .container2 .footer__left {
    text-align: center;
    text-wrap: balance;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid #050505;
  }
  footer .container2 .footer__center {
    padding: 2rem 0;
    border-bottom: 1px solid #050505;
    width: 100%;
  }
  footer .container2 .footer__center .small_container,
  footer .container2 .footer__center .small_container .head {
    text-align: center;
    font-size: 1.2rem;
  }
  footer .container2 .footer__right {
    width: 100%;
    padding: 2rem 0;
    align-items: center;
  }
  footer .container2 .footer__right .small_container {
    width: auto;
  }
  footer .text_container {
    flex-direction: column-reverse;
    gap: 1rem;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
